body {
	text-align: center;
	
 	background-image: url('../image/game_screen.png');
	/*background-size: cover;  画像が縦横比を保ちながら全体を覆う 
	background-position: center;  画像を中央に配置 */
  
	background-size: 1380px 650px; /* 幅1380px、高さ650px */
  
}

.main{
  display:flex;
}

button{
	margin-top: 100px;
	width: 120px;
	height: 50px;
	font-size:15px;
	border-radius: 5px;
}

.player_cards{
  justify-content: center;
}

.0{
  width: 120px;
  height: 50px;
  
}







.wrapper2{
  display:flex;
  justify-content: center;

}

.enemy_deck{
  background-color: #dee8f1;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 10px;
  width: 120px;
  height: 50px;
}

.enemy_hand {
  background-color: #dee8f1;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 10px;
  width: 30px;
  height: 70px;
}