body {
	text-align: center;
	
 	background-image: url('../image/game_screen.png');
	/*background-size: cover;  画像が縦横比を保ちながら全体を覆う 
	background-position: center;  画像を中央に配置 */
  
	background-size: 1380px 650px; /* 幅1380px、高さ650px */
  
}

.main{
  /* display:flex; */
    justify-content: center;
}

.surrender, .capture, .sacrifice, .cancel, .decision{
	margin-top: 20px;
	width: 120px;
	height: 50px;
	font-size:15px;
	border-radius: 5px;
	margin-right: 20px;
	margin-left:20px;
}

.player_cards, .cpu_cards{
  justify-content: center;
  display: flex;
}

.player_cards div, .cpu_cards div{
  padding: 0.25em;
  margin-bottom: 60px;
}


/* ダイアログボックスのスタイリング */
.myDialog{
  width: 26em;         /* 幅 */
  max-height: 50%;　   /* 高さ */
  border: none;　      /* ボーダー */
  border-radius: 4px;　/* 角丸 */
  box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.4);　/* 影 */
  padding: 0;          /* パディング */
}

#myDialog{
  position: absolute; /* 装置位置に指定 */
  top: 50%;           /* 上から50%の位置に配置 */
  left: 30%;          /* 左から50%の位置に配置 */
  transform: translate(-50%,-50%);
}

#myDialog2{
  position: absolute; /* 装置位置に指定 */
  top: 50%;           /* 上から50%の位置に配置 */
  left: 30%;          /* 左から50%の位置に配置 */
  transform: translate(-50%,-200%);
}

#myDialog3{
  position: absolute; /* 装置位置に指定 */
  top: 50%;           /* 上から50%の位置に配置 */
  left: 30%;          /* 左から50%の位置に配置 */
  transform: translate(-50%,0%);
}

/* 背景 */
.myDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4); /* 半透明の黒で覆う */
}
/* ボディ */
.myDialog .body {
  background-color: #fff;
  padding: 1em;
}
/* フッタ */
.myDialog .footer {
  background-color: #fff;
  text-align: center;
  padding: 1em;
  position: sticky;　/* スクロール時に固定 */
  bottom: 0;
}
/* ボタン */
.myDialog .button {
  width: 8em;
  height: 2.4em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.myDialog .button:hover {
  opacity: 0.8;
}
.myDialog .button.ok {
  background-color: #0075c2;
  color: #fff;
}


.wrapper2{
  display:flex;
  justify-content: center;

}

.enemy_deck{
  background-color: #dee8f1;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 10px;
  width: 120px;
  height: 50px;
}

.enemy_hand {
  background-color: #dee8f1;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 10px;
  width: 30px;
  height: 70px;
}

#select_button{
display:none;
}