body {
	text-align: center;
	
 	background-image: url('../image/game_screen.png');
	/*background-size: cover;  画像が縦横比を保ちながら全体を覆う 
	background-position: center;  画像を中央に配置 */
  
	background-size: 1380px 650px; /* 幅1380px、高さ650px */
  
}

.main{
}

button{
	margin-top: 100px;
	width: 120px;
	height: 50px;
	font-size:15px;
	border-radius: 5px;
}

.player_cards{
    display:flex;
    justify-content: center;
}

.enemy{
color: red;
}


/*
#dialog {
    width: 250px;
    margin: auto;
    margin-top: 40vh;
    padding: 30px 20px;
    display: none;
    text-align: center;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 4px #888;
    background-color: white;
}
*/

/* ダイアログボックスのスタイリング */
#myDialog {
  width: 26em;         /* 幅 */
  max-height: 50%;　   /* 高さ */
  border: none;　      /* ボーダー */
  border-radius: 4px;　/* 角丸 */
  box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.4);　/* 影 */
  padding: 0;          /* パディング */
}
/* 背景 */
#myDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4); /* 半透明の黒で覆う */
}
/* ボディ */
#myDialog .body {
  background-color: #fff;
  padding: 1em;
}
/* フッタ */
#myDialog .footer {
  background-color: #fff;
  text-align: right;
  padding: 1em;
  position: sticky;　/* スクロール時に固定 */
  bottom: 0;
}
/* ボタン */
#myDialog .button {
  width: 8em;
  height: 2.4em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#myDialog .button:hover {
  opacity: 0.8;
}
#myDialog .button.ok {
  background-color: #0075c2;
  color: #fff;
}




.wrapper2{
  display:flex;
  justify-content: center;

}

.enemy_deck{
  background-color: #dee8f1;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 10px;
  width: 120px;
  height: 50px;
}

.enemy_hand {
  background-color: #dee8f1;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 10px;
  width: 30px;
  height: 70px;
}